.single-product{
  width: 23%;
  height: 400px;
  background: #515151;
  color: white;
  display: inline-block;
  border-radius: 20px;
  margin: 100px;
  padding: 50px 30px;
  position: relative;
}

.single-product h3{
  font-size: 2rem;
}

.single-product img{
  height: 50%;
  width: 100%;
}

.single-product p{
  line-height: 30px;
}

.single-product span{
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  top: 45%;
  right: 10%;
  background: orange
}

.message{
  width: 50%;
  height: 300px;
  margin: 40px auto;
  position: relative;
  margin-bottom: 500px;
}

.message img{
  width: 100%;

}

.message h2{
  position: absolute;
  bottom: -60%;
  right: 10%;
  font-weight: bold;
  font-size: 4rem;
  color: #343434;
}